{% extends 'note/base.html' %}

{% load static %}
{% csrf_token %}
{% block content %}

  <div class="container">
    {% if user.is_authenticated %}
      {% for note in notes %}
      <div class="card">
        <p class="title_card">{{ note.title }}</p>
        <p class="pre_text">{{ note.body }}</p>
        <p class="date_on_card">{{ note.date }}</p>
        <br>

        <a href="{% url 'edit_note' pk=note.pk %}" class="edit_on_card">edit</a>

        <a href="{% url 'delete_note' pk=note.pk %}" class="edit_on_card del">delete</a>

      </div>
      {% endfor %}
    {% else %}
      <a class="not_login" href="accounts/login">you need to log in</a>
    {% endif %}
    <div class="button_add">
      <a class="new_butt" href="/new">+</a>
    </div>

  </div>


  <div class="note_window">
    <p class="title_card on_w">{{ note.title }}</p>
    <br>
    <p class="pre_text on_w">{{ note.body }}</p>
  </div>

{% endblock %}
