{% extends 'note/base.html' %}

{% load static %}
{% csrf_token %}
{% block content %}

  <div class="container">

    <div class="create_note_form">

      {% if user.is_authenticated %}
        <div class="new_note_p">
          <h1 class="title_new">New note</h1>
          <br>
            <form method="POST" class="post-form title_new">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save_button">Save</button>
            </form>
        </div>
      {% else %}
        <a class="not_login" href="accounts/login">you need to log in</a>
      {% endif %}

    </div>

  </div>

{% endblock %}
