{% extends 'note/base.html' %}

{% load static %}
{% csrf_token %}
{% block content %}

  <div class="container">

    <div class="create_note_form">

      {% if user.is_authenticated %}
        <div class="new_note_p">
          <h1>New note</h1>
          <br>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
        </div>
      {% else %}
      <div class="card">
        <p class="title_card">You need to log in</p>
        <p class="pre_text"></p>

      </div>
      {% endif %}

    </div>

  </div>

{% endblock %}
